// reset
@import-normalize;

body, h1, h2, h3, h4, div, p, ul, li {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

// basic settings
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  font-family: 'Inter', sans-serif;
  font-size: 10px;
  -webkit-font-smoothing: antialiased;

  @media screen and (max-width: 480px) {
    font-size: 8px;
  }
}

body * {
  box-sizing: border-box;
}


// variables
$max-width: 1280px;

$light-grey: #F5F5F7;
$normal-grey: #e2e2e2;
$dark-grey: #86868b;
$blue: #006ddb;

// FIXME:
$basic-unit: 8px;

// @media screen and (max-width: 600px) {
//   $basic-unit: 6px;
// }


// mixins
@function item($count: 1) {
  @return $basic-unit * $count;
}

@keyframes intro-gradient {
  0% {
    background-position: 0px;
  }

  50% {
    background-position: 100%;
  }

  100% {
    background-position: 0px;
  }
}

@mixin rainbowText {
  font-size: 10rem;
  font-weight: 600;
  letter-spacing: -0.5rem;
  text-align: center;
  background: linear-gradient(91.36deg, #ECA658 0%, #F391A6 13.02%, #E188C3 25.52%, #A58DE3 37.5%, #56ABEC 49.48%, #737EB7 63.02%, #C8638C 72.92%, #DD5D57 84.38%, #DF6C51 97.92%);
  -webkit-text-fill-color: transparent;
  background-size: 200% 200%;
  background-clip: text;
  animation: intro-gradient 10s infinite ease both;

  @media screen and (max-width: 600px) {
    font-size: 9rem;
    // font-size: 100%;
  }
}

